*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.container{
  width: 100%;
  background-color: #473838;
}

.formContainer{
  display: block;
  margin: auto;
  width:800px ;
}

.profileHeader{
  
  display: block;
  margin: auto;
  max-width: 500px;
  border-bottom: 5px solid #1C1C1C;
  border-radius: 5px;
  background-color: #c7fcfd;
}
.profileName{
  display: block;
  margin: auto;
  max-width: 300px;
  margin-bottom: 5px;
}

.profileContact  {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.profileTopic{
  display: flex;
  flex-direction: column;
}

.topic{
  background-color: #c7fcfd;
  padding: 10px;
  margin: 0;

}

.topicHead{
  font-size: 20px;
  transition:250ms ;
  height: 30px;
  font-weight: 500;
  color: rgb(27, 17, 2);
}

.topicHead:hover{
  font-size: 21px;
}

.subTopicHead{
  font-size: 18px;
  color:rgb(1, 43, 29) ;
  font-weight: 400;
  margin: 10px 0;
}

.subTopicDetail{
  font-size: 15px;
}

li{
  list-style: inside;
  margin-left: 10px;
}