.App {
  text-align: center;
}
.formContainer{
  width: 500px;
  margin-left: 2rem;
  background-color: rgba(181, 179, 187, 0.727);
}

.submit-btn{
  padding: 5px;
  cursor: pointer;
  outline: none;
  transition: all 250ms;
  transform: scale(1);
  width: 100%;
}

.submit-btn:hover{
  transform: scale(1.07);
}

input{
   padding: 5px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2%;
  transition: 250ms;
}

input:hover{
  outline: none;
  border: none;
  transform: scale(1.01);
  background-color: rgba(221, 229, 229, 0.716);
}